:root {
    --bg-dark: #09090c; /* Hitam pekat / Night City dark */
    --panel-bg: #151122; /* Ungu sangat gelap */
    --light-square: #2a1b54; /* Ungu neon redup */
    --dark-square: #110926; /* Ungu gelap gulita */
    --highlight: rgba(255, 0, 128, 0.7); /* Pink Neon untuk pilihan */
    --legal-move: rgba(0, 243, 255, 0.6); /* Cyan Neon untuk langkah sah */
    --primary: #00f3ff; /* Cyan Terang */
    --secondary: #b026ff; /* Ungu Neon */
    --danger: #ff003c; /* Merah Cyberpunk */
    --text: #e0ffff; /* Putih kebiruan */
}

* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Courier New', Courier, monospace, sans-serif; /* Font ala hacker/terminal */ }

body { background-color: var(--bg-dark); color: var(--text); height: 100vh; display: flex; justify-content: center; align-items: center; touch-action: manipulation; background-image: linear-gradient(180deg, #09090c 0%, #1a0b2e 100%); }

/* Screen Management */
.screen { display: none; width: 100%; max-width: 600px; padding: 20px; flex-direction: column; align-items: center; }
.screen.active { display: flex; }

/* Panels & Inputs */
.panel { background-color: var(--panel-bg); padding: 30px; border-radius: 4px; width: 100%; text-align: center; border: 1px solid var(--secondary); box-shadow: 0 0 20px rgba(176, 38, 255, 0.2); }
.logo { font-size: 32px; font-weight: bold; margin-bottom: 20px; color: var(--primary); text-shadow: 0 0 10px var(--primary); text-transform: uppercase; letter-spacing: 2px;}
input[type="text"] { width: 100%; padding: 12px; margin-bottom: 15px; border: 1px solid #333; border-radius: 0px; background: #0b0914; color: var(--primary); font-size: 16px; outline: none; transition: 0.3s; }
input[type="text"]:focus { border: 1px solid var(--primary); box-shadow: 0 0 10px rgba(0, 243, 255, 0.3); }

/* Buttons */
.btn { padding: 12px 20px; border: none; border-radius: 0px; font-size: 16px; font-weight: bold; cursor: pointer; color: #000; width: 100%; transition: 0.2s; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 1px; }
.btn.primary { background-color: var(--primary); box-shadow: 0 0 10px rgba(0, 243, 255, 0.4); }
.btn.primary:hover { background-color: #fff; box-shadow: 0 0 20px var(--primary); color: #000; }
.btn.secondary { background-color: var(--secondary); color: white; box-shadow: 0 0 10px rgba(176, 38, 255, 0.4); }
.btn.secondary:hover { background-color: #fff; box-shadow: 0 0 20px var(--secondary); color: #000; }
.btn.danger { background-color: var(--danger); color: white; }
.btn.danger:hover { box-shadow: 0 0 20px var(--danger); }
.btn.warning { background-color: #ffea00; color: #000; }
.btn.warning:hover { box-shadow: 0 0 20px #ffea00; }
.divider { margin: 15px 0; color: var(--primary); font-size: 14px; letter-spacing: 2px; }
.highlight-text { color: var(--highlight); letter-spacing: 4px; margin: 15px 0; text-shadow: 0 0 8px var(--highlight); }
.error { color: var(--danger); font-size: 14px; margin-top: 10px; text-shadow: 0 0 5
